################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TestProject/v16/TestStore/0/testlog.manifest
/.vs/BusinessRuleEngine/v16/Server/sqlite3/db.lock
/.vs/BusinessRuleEngine/v16/TestStore/0/000-0000.testlog
/.vs/BusinessRuleEngine/v16/Server/sqlite3/storage.ide-wal
/.vs/BusinessRuleEngine/v16/Server/sqlite3/storage.ide-shm
/.vs/BusinessRuleEngine/v16/Server/sqlite3/storage.ide
/.vs/BusinessRuleEngine/v16/.suo
